<div class="wrapper-comp-settings is-active editor-with-buttons" id="settings-tab">
    <div class="mt-2 mr-2 ml-2" id="troweb-edit">
        <form id="post-form"></form>
        <table>

            <thead>
                <tr>
                    <th class="first"> </th>
                    <th class="second">type</th>
                    <th class="third">name</th>
                    <th class="fourth">size</th>
                    <th class="fifth">upload date</th>
                    <th class="sixth"></th>
                </tr>
            </thead>
            {% for item in res %}
            <tr id="{{item.pk}}">
                <td class="first"><input type="radio" value="{{item.file_id}}" id="{{item.pk}}-input" form="post-form"
                        name="file_id">
                </td>
                <td class="second">

                    {% if item.blob_type == 'pdf' %}
                    <i class="icon fa fa-solid fa-book"></i>
                    {% elif item.blob_type == 'image' %}
                    <i class="icon fa fa-solid fa-image"></i>
                    {% elif item.blob_type == 'video' %}
                    <i class="icon fa fa-solid fa-video-camera"></i>
                    {% else %}
                    <i class="icon fa fa-solid fa-file"></i>
                    {% endif %}

                </td>
                <td class="third">{{item.name}}</td>
                <td class="fourth">{{item.size}}</td>
                <td class="fifth">{{item.uploaded}}</td>
                <td class="sixth"><a href="#" id="delete-trowebitem" pk="{{item.pk}}"><i
                            class="icon fa fa-solid fa-trash"></i></a></i></td>
            </tr>


            {% endfor %}
            </tbody>

        </table>
    </div>
    <div class="xblock-actions">
        <ul>
            <li class="action-item">
                <button class="button action-primary save-button" type="submit" form="post-form">save</button>
            </li>
            <li class="action-item">
                <a href="#" class="button cancel-button">Cancel</a>
            </li>
        </ul>
    </div>
</div>